@using PagedList
@using PagedList.Mvc
@model IPagedList<Core.Models.Op>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="form-search">
    @Html.Partial("_OpQueryPartial")
</div>
<div id="contactList"></div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="modal fade" id="contactDialog"></div>

