body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*menu*/
* {
            margin: 0;
            padding: 0;
        }
        

        a {
            color: #FFF;
            text-decoration: none;
        }

        ul {
            list-style: none;
        }

        #webmenu {
            height: 37px;
            background: #333;
            font-size: 1.3em;
            text-align: center;
        }

            #webmenu a {
                font-size: 0.8em;
            }

            #webmenu li ul {
                display: none;
            }

                #webmenu li ul li {
                    float: none;
                }

                *html #webmenu li ul li {
                    display: inline;
                }

                #webmenu li ul a {
                    float: none;
                    height: 32px;
                    line-height: 32px;
                    padding: 0 10px;
                    text-transform: capitalize;
                }

            #webmenu .height-auto {
                line-height: 15px;
                padding: 5px 10px;
            }

        .second-menu, .third-menu, .fourth-menu {
            position: absolute;
        }

        .first-menu li {
            float: left;
            position: relative;
        }

        .first-menu a {
            float: left;
            display: block;
            padding: 0 20px;
            height: 35px;
            line-height: 35px;
            background: #333;
            border-top: 1px solid #4a4a4a;
            border-left: 1px solid #4a4a4a;
            border-bottom: 1px solid #242424;
            border-right: 1px solid #242424;
            font-size: .7em;
        }

            .first-menu a:hover {
                background: #4698ca;
                border-top: 1px solid #5db1e0;
                border-left: 1px solid #5db1e0;
            }

        .second-menu {
            top: 37px;
            right: 0;
        }

        *html .second-menu {
            right: -1px;
        }

            .second-menu a {
                font-size: 11px;
            }

                .second-menu a.arrow {
                    background: #3a3a3a url(image/arrow.gif) no-repeat right top;
                }

                    .second-menu a.arrow:hover {
                        background: #4698ca url(image/arrow.gif) no-repeat right -32px;
                    }

                .second-menu a.arrow-02 {
                    background: #3a3a3a url(image/arrow.gif) no-repeat right -64px;
                }

                    .second-menu a.arrow-02:hover {
                        background: #4698ca url(image/arrow.gif) no-repeat right -110px;
                    }

        .third-menu, .fourth-menu {
            width: 177px;
            top: 0;
            left: 177px;
        }

            .third-menu a {
                background: #4c4c4c;
                font-weight: normal;
                border-top: 1px solid #595959;
                border-left: 1px solid #595959;
                border-bottom: 1px solid #333;
                border-right: 1px solid #333;
            }

        #subMgm {
            width: 177px;
        }

            #subMgm .third-menu {
                left: 177px;
            }

            #subMgm .fourth-menu {
                left: 177px;
            }

        #subMusic, #subNews {
            width: 177px;
        }